{{define "sidebar"}}
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/rooms">
        <i class="bi bi-layout-text-window-reverse"></i>
        <span>Informasi Kamar</span>
      </a>
    </li>
    <!-- End Tables Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/patients">
        <i class="bi bi-person"></i>
        <span>Data Pasien</span>
      </a>
    </li>
    <!-- End Patient Nav -->

    <li class="nav-heading">Lainnya</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/about">
        <i class="bi bi-question-circle"></i>
        <span>Tentang Kami</span>
      </a>
    </li>
    <!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/contact">
        <i class="bi bi-envelope"></i>
        <span>Kontak</span>
      </a>
    </li>
    <!-- End Contact Page Nav -->
  </ul>
</aside>
{{end}}
