<main id="main" class="main">
  <div class="pagetitle">
    <h1>{{ .Title }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="pages-dashboard.html">Home</a>
        </li>
        <li class="breadcrumb-item active">{{ .Title }}</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <!-- first row summary -->
        <div class="row">
          <!-- Total Patient Card -->
          <div class="col-md-5 col-xl-6">
            <div class="card info-card total-patient-card">
              <div class="card-body">
                <h5 class="card-title">Jumlah Pasien</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ .TotalPatient}}</h6>
                    <span class="text-muted small pt-3 ps-1"
                      >dari total kapasitas</span
                    >
                    <span class="text-danger medium pt-5 fw-bold"
                      >{{ .TotalBed}}</span
                    >
                    <span class="text-muted small pt-3 ps-1">pasien</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Total Patient Card -->

          <!-- Revenue Card -->
          <div class="col-md-5 col-xl-6">
            <div class="card info-card total-bed-card">
              <div class="card-body">
                <h5 class="card-title">Jumlah Kamar</h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bx bx-bed"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ .UsedRoom}}</h6>
                    <span class="text-muted small pt-3 ps-1"
                      >terpakai dari total</span
                    >
                    <span class="text-danger medium pt-5 fw-bold"
                      >{{ .TotalRoom}}</span
                    >
                    <span class="text-muted small pt-3 ps-1">kamar</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Revenue Card -->
        </div>

        <!-- Second Row Summary -->
        <div class="row">
          <!-- VIP Bed Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card vip-card">
              <div class="card-body">
                <h5 class="card-title">Tempat Tidur VIP</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="ri-vip-line"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ .VIPPatient}}</h6>
                    <span class="text-muted small pt-3 ps-1"
                      >terpakai dari total</span
                    >
                    <span class="text-danger medium pt-5 fw-bold"
                      >{{ .VIPBed}}</span
                    >
                    <span class="text-muted small pt-3 ps-1">tempat tidur</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- VIP Bed Card -->

          <!-- 1-Class Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card first-class-card">
              <div class="card-body">
                <h5 class="card-title">Tempat Tidur Kelas 1</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="ri-number-1"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ .FirstClassPatient}}</h6>
                    <span class="text-muted small pt-3 ps-1"
                      >terpakai dari total</span
                    >
                    <span class="text-danger medium pt-5 fw-bold"
                      >{{ .FirstClassBed}}</span
                    >
                    <span class="text-muted small pt-3 ps-1">tempat tidur</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End 1-Class Card -->

          <!-- 2-Class Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card second-class-card">
              <div class="card-body">
                <h5 class="card-title">Tempat Tidur Kelas 2</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="ri-number-2"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ .SecondClassPatient}}</h6>
                    <span class="text-muted small pt-3 ps-1"
                      >terpakai dari total</span
                    >
                    <span class="text-danger medium pt-5 fw-bold"
                      >{{ .SecondClassBed}}</span
                    >
                    <span class="text-muted small pt-3 ps-1">tempat tidur</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End 2-Class Card -->
        </div>
      </div>
      <!-- End Left side columns -->
    </div>
  </section>
</main>
