<main id="main" class="main">

  <div class="pagetitle">
    <h1>Informasi Kamar</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard.html">Home</a></li>
        <li class="breadcrumb-item active">Informasi Kamar</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="card">
      <div class="movie-container text-center">
        <label>Pilih Lantai:</label>
        <button class="btn btn-secondary"
                  type="button" 
                  id="dropdownMenuButton" 
                  data-toggle="dropdown" 
                  aria-haspopup="true" 
                  aria-expanded="false">
              Lantai 1
          </button>
          
          <div class="dropdown-menu" 
               aria-labelledby="dropdownMenuButton">
               <a class="dropdown-item" href="pages-informasi-kamar.html">
                Lantai 1
            </a>
               <a class="dropdown-item" href="pages-lantai-2.html">
                Lantai 2
            </a>
              <a class="dropdown-item" href="pages-lantai-3.html">
                Lantai 3
            </a>
      </div>
      <!-- Bordered Tabs Justified -->
      <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">Kelas 1</button>
          </li>
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Kelas 2</button>
          </li>
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">VIP</button>
          </li>
      </ul>
      <div class="tab-content pt-2" id="borderedTabJustifiedContent">
        <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
          <ul class="showcase">
            <li>
              <div class="seat"></div>
              <small>Tersedia</small>
            </li>
            <li>
              <div class="seat terpakai"></div>
              <small>Penuh</small>
            </li>
          </ul>
      
          <div class="container">
      
            <div class="row">
              <div class="seat" id="114">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="115">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="116">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="117">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="118">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="119">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat terpakai" id="120">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat terpakai" id="121">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat terpakai" id="122">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              
            </div>
            <div class="row">
              <div class="seat" id="123">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="124">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="125">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="126">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="127">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="128">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="129">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="130">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="131">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
            </div>
            <div class="row">
              <div class="seat" id="132">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="133">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat occupied" id="134"></div>
              <div class="seat occupied" id="135"></div>
              <div class="seat occupied" id="136"></div>
              <div class="seat occupied" id="137"></div>
              <div class="seat occupied" id="138"></div>
              <div class="seat occupied" id="139"></div>
              <div class="seat occupied" id="140"></div>
  
            </div>
            <div class="row">
              <div class="seat" id="141">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat" id="142">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat occupied" id="143"></div>
              <div class="seat occupied" id="144"></div>
              <div class="seat occupied" id="145"></div>
              <div class="seat occupied" id="146"></div>
              <div class="seat occupied" id="147"></div>
              <div class="seat occupied" id="148"></div>
              <div class="seat occupied" id="149"></div>
  
            </div>
            <div class="row">
              <div class="seat">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat occupied"></div>
              <div class="seat occupied"></div>
              <div class="seat occupied"></div>
              <div class="seat occupied"></div>
              <div class="seat occupied"></div>
              <div class="seat occupied"></div>
              <div class="seat occupied"></div>
  
            </div>
            <div class="row">
              <div class="seat">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat">
                <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
              </div>
              <div class="seat occupied"></div>
              <div class="seat occupied"></div>
              <div class="seat occupied"></div>
              <div class="seat occupied"></div>
              <div class="seat occupied"></div>
              <div class="seat occupied"></div>
              <div class="seat occupied"></div>
            </div>
          </div>
        </div>
      <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
        <ul class="showcase">
          <li>
            <div class="seat"></div>
            <small>Tersedia</small>
          </li>
          <li>
            <div class="seat terpakai"></div>
            <small>Penuh</small>
          </li>
        </ul>
    
        <div class="container2">
      
          <div class="row">
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat terpakai">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            
          </div>
          <div class="row">
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
          </div>
          <div class="row">
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat terpakai">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat terpakai">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>

          </div>
          <div class="row">
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat terpakai">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>

          </div>
          <div class="row">
            <div class="seat terpakai">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>

          </div>
          <div class="row">
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>

          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="bordered-justified-contact" role="tabpanel" aria-labelledby="contact-tab">
        <ul class="showcase">
          <li>
            <div class="seat"></div>
            <small>Tersedia</small>
          </li>
          <li>
            <div class="seat terpakai"></div>
            <small>Penuh</small>
          </li>
        </ul>
    
        <div class="containerV">
      
          <div class="row">
            <div class="seat terpakai">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            
          </div>
          <div class="row">
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
          </div>
          <div class="row">
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>

          </div>
          <div class="row">
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>

          </div>
          <div class="row">
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>

          </div>
          <div class="row">
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>
            <div class="seat">
              <button type="button" class="btn btn-outline-light btn-sm" data-toggle="popover" data-trigger="focus" title="Informasi Pasien" data-content="Informasi pasien yang menempati kamar ini akan ditampilkan"></button>
            </div>

          </div>
        </div>
      </div>
    </div><!-- End Bordered Tabs Justified -->

      
    </div>
  </section>

</main>