<main id="main" class="main">
  <div class="pagetitle">
    <h1>{{ .Title}}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">{{ .Title}}</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="row">
        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="filter">
              <a class="icon" href="/input-patient"
                >Input Pasien <i class="bi bi-person-plus"></i
              ></a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Daftar Pasien</h5>

              {{ if .Patients}}
              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col">EMR ID</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Alamat</th>
                    <th scope="col">Usia</th>
                    <th scope="col">Tanggal Masuk</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range .Patients}}
                  <tr>
                    <th scope="row">
                      <a href="patients/{{ .NIK}}">{{ .EMRID}}</a>
                    </th>
                    <td>
                      <a href="patients/{{ .NIK}}">{{ .Name}}</a>
                    </td>
                    <td>{{ .Address}}</td>
                    <td>{{ .Age}}</td>
                    <td>{{ .ImpatientAt}}</td>
                  </tr>
                  {{end}}
                </tbody>
              </table>
              {{else}}
              <div>
                <p>Belum ada pasien yang dirawat</p>
              </div>
              {{end}}
            </div>
          </div>
        </div>
        <!-- End Recent Sales -->
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
